    <div class="flex-container">
        <section class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark left-navbar">
            <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <span class="fs-4" id="leftnavbar-top-username"><%= username %></span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a href="/homePage" class="nav-link text-white" aria-current="page">
                    <img class="bi pe-none me-2" src="assets/home.png" alt="" height="40" width="40">
                    Home
                    </a>
                </li>
                <li>
                    <a href="/profile" class="nav-link text-white">
                    <img class="bi pe-none me-2" src="assets/profile-pic.png" alt="" height="40" width="40">
                    Profile
                    </a>
                </li>
                <li>
                    <a href="/search" class="nav-link text-white">
                    <img class="bi pe-none me-2" src="assets/search-icon.png" alt="" height="40" width="40">
                    Search
                    </a>
                </li>
                <li>
                    <a href="/" class="nav-link text-white">
                    <img class="bi pe-none me-2" src="assets/logout.png" alt="" height="40" width="40">
                    Logout
                    </a>
                </li>
            </ul>
        </section>