<%- include("header.ejs") %>


    <div class="form-container">
        <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary" id="signin-form" action="/loginUser" method="post">
          <small class="text-body-secondary">Dont have an account? <a href="/signUp">Sign up</a></small>
          <div class="form-floating mb-3 mt-3">
            <input type="text" class="form-control" id="floatingInput" name="uname" placeholder="name@example.com">
            <label for="uname">Username</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPassword" name="pwd" placeholder="Password">
            <label for="pwd">Password</label>
          </div>
          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>
          </div>
          <% if (error) { %>
            <p id="error-message"><%= errorMessage %></p>
          <% } %>
          <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
        </form>
    </div>


<%- include("footer.ejs") %>